#hero {
    min-height: 90vh;
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    width: 95%;
    margin: 0 0 0 auto;
}

.hero-text {
    flex: 1 1 40rem;
    h2 {
        font-size: 5rem;
        background: linear-gradient(45deg, rgb(115, 240, 115), rgb(112, 112, 228));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
}

.hero-img {
    flex: 1 1 40rem;
    svg {
        width: 80%;
    //    height: 100%;
    }
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}

#letter {
    animation: letter 3s infinite alternate ease;
}

#smartphone{
    animation: smartphone 3s infinite linear;
    transform-box: fill-box;
    transform-origin: center;
}

#grid {
    animation: grid 2s infinite alternate;
}

#check-circle {
    animation: check-circle 1.5s infinite linear;
    transform-box: fill-box;
    transform-origin: center;
}

#check-circle-container {
    animation: check-circle-container 3s infinite linear alternate;
}


@keyframes letter {
    from {
        transform: translateY(30%);
    }
    to {
        transform: translateY(-30%);
    }
}

@keyframes smartphone{
    from {
        transform: rotateZ(0deg);
    }to {
        transform: rotateZ(360deg);
    }
}

@keyframes grid {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}

@keyframes check-circle{
    from {
        transform:  rotateZ(0deg);
    }to {
        transform: rotateZ(360deg);
    }
}

@keyframes check-circle-container {
    from {
        transform: translateY(-30%);
    }to {
        transform: translateY(30%);
    }
}

