#hero {
    min-height: 90vh;
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    width: 95%;
    margin: 0 0 0 auto;
}

.hero-text {
    flex: 1 1 40rem;
    h2 {
        font-size: 5rem;
        background: linear-gradient(45deg, rgb(115, 240, 115), rgb(112, 112, 228));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
}

.hero-img {
    flex: 1 1 40rem;
    svg {
        width: 80%;
    //    height: 100%;
    }
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}