$header1 : 3rem;
$header2 : 4rem;
$header3 : 3rem;
$header4 : 2.8rem;
$text : 2rem;

@mixin flex ($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@import './global';
@import './header';
@import './hero';